.bgRed{
    border: 1px solid red;
}
.marginTop20{
    margin-top: 20px;
}
.marginTop50{
    margin-top: 50px;
}
.paddingBottom20{
   padding-bottom: 20px;
}
.paddingTop20{
    padding-top: 20px;
}
.paddingTopBottom10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.paddingTopBottom20{
    padding-top: 20px;
    padding-bottom: 20px;
}


div#search{
    border: 2px solid rgb(0, 123,255);
    background: whitesmoke;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    width: 100%;
    position: relative;
}
.borderRadius5px{
    border-radius: 5px;
}


div#search input[type=text]{
    background-color: whitesmoke;
    display: inline-block;
    border: none;
    vertical-align: middle;
    height: 25px;
    width: auto;
}

.form-group.paddingBottom{
    margin-bottom: 0px;
}

/*div#search button{
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
    padding: 5px;
    border:2px solid rgb(0, 123,255);
    background: whitesmoke;
}
div#search button:hover{
    cursor: pointer;
}*/

ul.positionAbsolute{
    position: absolute;
    top:100%;
    left: 0px;
    width: 100%;
    padding: inherit;
    border: 1px solid grey;
    background: whitesmoke;
    z-index: 1;
}

ul.positionAbsolute li{
    display: inline-block;
    width: 100%;
}
ul.positionAbsolute a:hover{
    cursor: pointer;
}

ul.positionAbsolute li a{
    display: block;
}

ul.positionAbsolute li a:hover{
    background-color: grey;
}
/*div.forFormSignIn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(40,167,69);
    padding: 10px;
    border-radius: 5px;
}
div.forFormSignIn{

}
div.forFormSignIn Form div:last-child{
    text-align: center;
}


/*@media (max-width: 320px){
    div.forFormSignIn input{
        width:200px;
    }
}*/